{{!-- Header with link back to CMS --}}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/cms">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>  BACK TO CMS
      </a>
    </div>
  </div>
</nav>

<!-- Add Book -->
<div class="container">

<h2>Add Book</h2>
	<!-- Sucess message -->
	<div id="message"></div>

  <!-- Add Book Form -->
  <form class="form-horizontal">

	  <div class="form-group">
	    <label for="title" class="col-sm-2 control-label">Title</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="title" placeholder="Amazing Spider-Man and Wolverine">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="issue" class="col-sm-2 control-label">Issue Number</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="issue" placeholder="24">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="publishDate" class="col-sm-2 control-label">Year of Publish</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="publishDate" placeholder="2012">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="role" class="col-sm-2 control-label">Role</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="role" placeholder="Cover Artist">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="publisher" class="col-sm-2 control-label">Publisher</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="publisher" placeholder="Marvel">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="synopsis" class="col-sm-2 control-label">Synopsis</label>
	    <div class="col-sm-10">
	      <textarea rows=3 type="text" class="form-control" id="synopsis" placeholder="Another great event featuring your favorite web-slinger and Wolverine."></textarea> 
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="img_url" class="col-sm-2 control-label">Image URL</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="img_url">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="characters" class="col-sm-2 control-label">Characters</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="characters" placeholder="Use commas: Spider-Man, Wolverine">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="teams" class="col-sm-2 control-label">Teams</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="teams" placeholder="Use commas: Avengers, X-Men">
	    </div>
	  </div>

	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" id="addBook" class="btn btn-default">Submit</button>
	    </div>
	  </div>
	</form>

</div>

<script type="text/javascript">
    
    $("#addBook").on("click", function(event) {
      event.preventDefault();

      var newBook = {
        title: $("#title").val().trim(),
        issue: $("#issue").val().trim(),
        publish_date: $("#publishDate").val().trim(),
        publisher: $("#publisher").val().trim(),
        synopsis: $("#synopsis").val().trim(),
        role: $("#role").val().trim(),
        img_url: $("#img_url").val().trim(),
        characters: $("#characters").val().trim(),
        teams: $("#teams").val().trim()
      };

      // function to convert paragraph breaks to HTML tags
   	  function replaceStr(str) {
  			return str
	      .replace(/\r?\n|\r/g, "<br /><br />");
			}

			newBook.synopsis = replaceStr(newBook.synopsis);

      // function to convert characters to HTML entities
   	//   function replaceStrCharacters(str) {
  	// 		return str
	  //     .replace(/&/g, "&amp;")
	  //     .replace(/</g, "&lt;")
	  //     .replace(/>/g, "&gt;")
	  //     .replace(/"/g, "&quot;")
	  //     .replace(/'/g, "&#039;");
			// }
      
      $.post("/book", newBook)
      .done(function(data) {
        console.log(data);
        // alert("Adding book...");

        // Display sucess message at top of page
        $("#message").html("<p>Success! Book added to database. Add another or <a href=\"/\">view entire collection.</a></p>");

        // Clear the form
        $("#title").val("");
        $("#issue").val("");
        $("#publishDate").val("");
        $("#publisher").val("");
        $("#synopsis").val("");
        $("#role").val("");
        $("#img_url").val("");
        $("#characters").val("");
        $("#teams").val("");
      });
    });

  </script>
