   <!-- Jumbotron -->
    <div class = "jumbotron">
      <div class = "container">
        <h1>Kubert's Comic Compendium</h1>
        <h3>Content Manager</h3>
      </div>
    </div>

    <div class="container">

      <div class="row">

        <div class="col-md-6">

          <div class="panel panel-default">
            <div class="panel-body">

              <form action="/addart" method="get" class="form-inline">
                <button type="submit" class="btn btn-default rightSpace">Add Art</button>
                <label> Add artwork to the database</label>
              </form>

            </div>
          </div>

        </div>

        <div class="col-md-6">

          <div class="panel panel-default">
            <div class="panel-body">

              <form action="/addbook" method="get" class="form-inline">
                <button type="submit" class="btn btn-default rightSpace">Add Book</button>
                <label> Add book to the database</label>
              </form>

            </div>
          </div>

        </div>
      </div>

        <div class="row">

          <div class="col-md-6">

            <div class="panel panel-default">
              <div class="panel-body">

                <form action="/cms/artworks" method="get" class="form-inline">
                  <button type="submit" class="btn btn-default rightSpace">All Artwork</button>
                  <label> View list of all artwork</label>
                </form>

              </div>
            </div>

          </div>

          <div class="col-md-6">

            <div class="panel panel-default">
              <div class="panel-body">

                <form action="/cms/books" method="get" class="form-inline">
                  <button type="submit" class="btn btn-default rightSpace">All Books</button>
                  <label> View list of all books</label>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
